<div class="section-header">
    <div class="page-wrapper">
      <h1>{{ page.title }}</h1>
    </div>
</div>
<div class="standard-content-page">
    <div class="page-wrapper">
        <div class="rich-text">
            {{ page.content }}
        </div>
    </div>
</div>
